<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <table border="1">
       <tr>
         <th>Id</th>
         <th>Book Name</th>
         <th>Book Author</th>
         <th>Book Price</th>
         <th colspan="2">Operation</th>
       </tr>
       {% for x in book %}
       <tr>
         <td>{{ x.id}}</td>
         <td>{{ x.book_name}}</td>
         <td>{{ x.book_author}}</td>
         <td>{{ x.book_price}}</td>
         <td><a href="update/{{x.id}}">Update</a></td>
         <td><a href="delete/{{x.id}}">Delete</a></td>
       </tr>
       {% endfor %}
    </table>
    <h1><a href="addbook/">Add Book</a></h1>
</body>
</html>